/**********************************************************************
 * Generales
 **********************************************************************/

/***** Estilos para posicionar el footer en la parte de abajo *********/
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    position: relative;
}

footer.main-footer {
    height: 80px;
    width: 100%;
    margin: 0 auto;
    /* Para evitar la barra de Symfony */
    /*margin-bottom: 36px;*/
    /***********************************/
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
}
/***********************************************************************/

body {
    background-color: #eeeeee;
}
/**********************************************************************
 * REGISTRO
 **********************************************************************/
.box-form {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    float: none;
}

.box-form input {
    margin-bottom: 10px;
}